RewriteEngine On
RewriteBase /GitHub/sicilianOilMarket/

# Redirect everything else to /public directory


RewriteCond %{REQUEST_URI} !^/GitHub/sicilianOilMarket/api
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]
